.demobox {
  border: 2px solid black;
  font: 12px Verdana;
  color: #fff;
  width: 80px;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
}
.demowrapper {
  border: 1px dotted black;
  width: 400px;
  margin: 10px auto; /* centreert de wrapper op de pagina */
  padding: 10px;
  margin-top: -30px;
}
.demobox1 {
  background-color: #ddd;
}
.demobox2 {
  background-color: #888;
}
.demobox3 {
  background-color: #333;
}
