.reveal .cp_embed_wrapper {
	margin-top: 10px;
}

.reveal .propstable {
	width: 100%;
	border: 2px solid #8b743d;
	margin-top: 10px;
}

.reveal .propstable .propstable__section {
	background-color: #e1d9c0;
}

.reveal .propstable td {
	padding: 10px 15px;
	font-size: 18px;
}

.reveal .propstable td:first-child {
	width: 60%;
}

.reveal .propstable .propstable__section td {
	padding: 5px 15px;
	text-transform: uppercase;
}