#grid-containerdemo9 {
   align-self: flex-start;
   position: relative;
}

#grid-containerdemo9 .underlayer {
   border: none;
   bottom: 2px; 
   box-sizing: border-box;
   display: grid; 
   gap: 10px;
   grid-template-columns: repeat(4, 1fr); /* 4 kolommen, elk 1 fractie */
   grid-template-rows: repeat(3, 1fr); /* 3 rijen, elk 1 fractie */
   left: 2px; 
   opacity: 0.5;
   padding: 19px;
   position: absolute;
   right: 2px; 
   top: 2px; 
}

.underlayer .grid-area {
   border: 2px solid #aaa;
}

.grid-containerdemo9-controls {
   background-color: beige;
   margin-bottom: 1em;
   padding: 10px 20px;
   width: fit-content;
}


