/* flexbox demos general setup */

.flex-demo .flex-item {
	background-color: #ddd;
	border: 2px solid black;
	padding: 5px;
	text-align: center;
}

.flex-demo .flex-item:nth-child(even) {
	min-height: 60px;
	line-height: 45px;
	width: 100px;
}

.flex-demo .flex-item:nth-child(odd) {
	min-height: 40px;
	line-height: 25px;
	width: 60px;
}

.flex-demo .flex-container {
	background-color: #ddf;
	border: 1px dotted black;
	box-sizing: border-box;
	height: 250px;
	max-width: 500px;
	padding: 20px;
}

/* flexbox demo6 setup */

#flex-demo6 .flex-container {
	height: 300px;
}

/* flexbox flex demo general setup */

.flex-flexdemo .flex-item {
	background-color: #ddd;
	border: 2px solid black;
	padding: 15px 25px;
	text-align: center;
}

.flex-flexdemo .flex-container {
	background-color: #ddf;
	border: 1px dotted black;
	height: 200px;
	max-width: 500px;
	padding: 20px;
}

/* grid demos general setup */

.grid-item {
   background-color: #ddd;
   border: 2px solid black;
   text-align: center;
}

.grid-container {
   background-color: #ddf;
   border: 1px dotted black;
   height: 300px;
   width: 500px;
   padding: 20px;
}

.grid-item-dotted {
	border: 2px dotted #999;
   text-align: center;
}
