* {
   box-sizing: border-box;
}

html {
   min-height: 100%;
}

:root {
   --primary-color: #faf5e6;
   --secondary-color: rgb(153 51 150);
}

body {
   background-color: var(--primary-color);
   color: #222;
   font-family: "lucida grande", "lucida sans unicode", Helvetica, Arial, sans-serif;
   font-size: 13px;
   margin: 0;
   min-height: 100%;
}

pre {
   border: none;
   margin: 0;
   min-width: 0;
}

#wrapper {
   column-width: 520px;
}

h3 {
   border-bottom: none;
   color: #666;
   margin-top: 0;
   padding: 5px 10px;
   text-transform: uppercase;
}

h3::before {
   content: "";
}

table {
   background-color: #fff;
   border: 4px solid #fff;
   border-spacing: 0;
   border-collapse: collapse;
   border-radius: 3px;
   box-shadow: 1px 1px 3px rgb(0 0 0 / 10%);
   caption-side: top;
   margin-bottom: 10px;
   width: 520px;
}

section {
   break-inside: avoid;
   padding: 10px;
   width: 520px;
}

caption {
   color: var(--secondary-color);
   padding: 5px 10px;
   text-align: left;
}

table span:not(.pro) {
   color: #333;
   font-size: smaller;
}

tr:nth-of-type(2n) {
   background-color: var(--primary-color);
   border-collapse: collapse;
   border: none;
}

td {
   border: none;
   padding: 3px 8px;
   vertical-align: top;
   width: 210px;
}

td+td {
   width: 310px;
}

@media (width >= 1200px) {

	#wrapper {
      column-count: 2;
      width: 1100px;
   }

}

@media (width >= 1800px) {

	#wrapper {
      column-count: 3;
      width: 1700px;
   }

}

@media (width >= 2400px) {

	#wrapper {
      column-count: 4;
      width: 2300px;
   }

}

@media (width >= 3000px) {

	#wrapper {
      column-count: 5;
      width: 2900px;
   }

}
