/* General Section */

html {
	font-size: 62.5%;
	background-color: #ccc;
	padding: 0;
}

body {
	border: 1px solid #ccc;
	background-color: #fff;
	font-family: Verdana;
	font-size: 1.6em;
	max-width: 60rem;
	margin: 0 auto;
	padding: 1rem 2rem;
}

h1, h2, h3  {
	font-family: Georgia;
}

body > h1 a {
	color: #666;
	text-decoration: none;
}

body > h1 {
	margin-top: 1rem;
}

p {
	font-size: 1.4rem;
	line-height: 1.8;
}

/* Content Section */
#widget_container, #widget_container h1, #widget_container h2 {
	font-size: 1.5rem;
	font-family: Verdana;
}

#widget {
	float: right;
	width: 12.8em;
	border: 1px solid gray;
	padding: 1em;
	margin: 0 0 1em 1em;
}

#widget h1 {
	font-size: 1.2em;
	margin-top: 0;
}

#widget h2 {
	font-size: 1em;
}

#widget .comment {
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

#widget blockquote {
	margin: 0;
	font-style: italic;
	display: inline;
}

#widget blockquote:before {
	content: '“';
}

#widget blockquote:after {
	content: '”';
}

#widget .thumbs img {
	width: 4em;
	height: 4em;
}
