ul.menu {
	list-style-type: none;
	}

ul.menu ul, ul.menu ul ul, ul.menu ul ul ul, ul.menu ul ul ul ul { /* instead of ul.menu * - NS 4.x kludge */
	list-style-type: none;
	}

li.radio {
	list-style-type: disc;
	}

li.check {
	list-style-type: square;
	/* list-style-image: url(check.gif); */
	list-style-image: url(check.gif);
	}

span.menulabel {
	text-decoration: underline;
	}
