body {
	background-color: #999;
}

#wrapper {
	background-color: white;
}

#wrapper > header {
	background-color: #333;
}

#mainmenu ul {
	background-color: #666;
}

#submenu {
	background-color: #ff9;
}

#wrapper > footer {
	background-color: #666;
}
