body {
	background-color: #999;
}

#wrapper {
	background-color: white;
}

#wrapper > header {
	background-color: #333;
}

#mainmenu ul {
	background-color: #666;
}

#submenu {
	background-color: #ff9;
}

#wrapper > footer {
	background-color: #666;
}

/* Site Wrapper */
#wrapper {
	width: 900px;
	margin: 0 auto;
}

/* Header Section */
#wrapper > header {
	height: 60px;
}

#mainmenu ul li {
	display: inline-block;
}

/* Sub Menu Section */

#submenu {
	width: 180px;
	float: left;
}

/* Content Section */
#content {
	width: 640px;
	float: left;
}

/* Footer Section */
#wrapper > footer {
	clear: both;
}

#wrapper > footer li {
	display: inline-block;
}
